* {
    padding: 0;
    margin: 0;

}

body {
    font-family: 'Arial', sans-serif;
    background: #e8f5e9;
    /* Açyk ýaşyl fon */
    color: #388e3c;
    /* Matn reňki */
    margin: 0;
    padding: 20px;
    text-align: center;
    /* Merkezi ýerleşiş */
}

.all {
    display: flex;
    flex-direction: column;

}

.c {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    width: 100%;
    height: 50px;

}


.container {
    display: flex;
    flex-direction: column;

}

.card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card {
    font-weight: 600;
    color: rgb(5, 8, 57);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    padding: 3px;
    margin: 5px;
    border-radius: 9px;

}

.card h1 {
    background-color: white;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    color: grey;
    margin-bottom: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.388);

}

.title {
    color: grey;
    font-size: 30px;
}

hr {
    width: 100%;
    height: 5px;
    background-color: rgba(0, 0, 0, 0.138);
    border: none;
    border-radius: 2px;
}